 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Helvetica";
     width: 100%;
 }

 header {
     background-color: #000000;
     width: 100%;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     height: 80px;
     width: 100%;
     align-items: center;
     max-width: 1140px;
     margin-right: auto;
     margin-left: auto;
     padding-top: 15px;
     padding-bottom: 15px;
 }

 @media (max-width:990px) {
     .navbar {
         padding: 0 15px;
         height: 54px;
     }
 }

 .logo {
     display: flex;
 }

 @media (max-width: 768px) {
     .navbar img {
         width: 89px;
         margin: 13px 0px 0px
     }
 }

 .navbar ul {
     display: flex;
     flex-direction: row;
     list-style: none;
     color: white;
 }

 @media (max-width:990px) {
     .navbar ul {
         top: 0px;
         right: 0px;
         position: absolute;
         background-color: black;
         flex-direction: column;
         z-index: 3;
         width: 430px;
         height: 100vh;
         height: 0vh;
         overflow: hidden;
         margin-bottom: 0px;
         ;
     }
 }

 @media (max-width:430px) {
     .navbar ul {
         width: 100vw;
     }
 }

 .navbar li {
     padding: 25px 25px 25px 17px;
 }

 .navbar-1 {
     color: white;
     text-decoration: none;
     font-size: 16px;
     font-weight: 700;
 }

 .navbar a:hover {
     color: #1cd760;
 }

 .container {
     background: rgb(0, 0, 0);
     background: linear-gradient(0deg, rgba(26, 26, 26, 1) 91%, rgba(255, 210, 215, 1) 100%);
     width: 100%;
     min-height: 100vh;
 }

 @media (max-width: 768px) {
     .container {
         background: #121212;
     }
 }

 .first-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
     max-width: 1140px;
     justify-content: center;
     color: white;
     margin: 0 auto;
     padding: 0;
 }

 @media (max-width: 780px) {
     .first-container {
         display: flex;
         flex-direction: column;
     }
 }

 @media (max-width: 990px) {
     .first-container {
         padding: 58px 15px;
     }
 }


 h1 {
     font-size: 38px;
     color: white;
     margin: 30px 60px 0px 20px;
     padding-top: 50px;
 }

 @media (max-width: 768px) {
     .first-container h1 {
         max-width: 100%;
         padding-top: 0px;
     }
 }

 .first-container h2 {
     font-size: 15px;
     color: white;
     font-weight: 300;
     padding: 15px 0px 13px;
     margin: 30px 60px 0px 20px;
     line-height: 20px;
 }

 @media (max-width: 768px) {
     .first-container h2 {
         max-width: 100%;
         margin: 0px 20px 0px 20px;
     }
 }

 .buttons {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .first-button {
     font-size: 16px;
     padding: 8px 32px;
     background-color: #FFD2D7;
     color: black;
     font-weight: bold;
     border-radius: 50px;
     width: 400px;
     height: 48px;
     text-align: center;
     margin-top: 20px;
     margin-right: 20px;
 }

 .first-button:hover {
     background-color: #FFEBEE;
     transform: scale(1.1);
 }

 .second-button {
     font-size: 16px;
     padding: 8px 32px;
     background-color: #000000;
     color: white;
     border: 1px solid white;
     font-weight: bold;
     border-radius: 50px;
     width: 300px;
     height: 48px;
     text-align: center;
     margin-top: 20px;
 }

 .second-button:hover {
     transform: scale(1.1);
 }

 @media (max-width: 535px) {
     .buttons {
         flex-direction: column;
     }
 }

 @media (max-width: 535px) {

     .first-button,
     .second-button {
         width: 100%;
     }
 }

 .texto-terminos {
     font-size: 11px;
     margin: 30px 10px 100px 20px;
     line-height: 15px;
 }

 @media (max-width:768px){
    .texto-terminos{
        margin-bottom: 20px;
    }
 }


 .terminos {
     text-decoration: underline;
     color: white;
     line-height: 15px;
 }

 .flamenco-container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0px 0px 0px 100px;
 }

 @media (max-width:768px) {
     .flamenco-container {
         margin: 0 auto;
         order: -1;
     }
 }

 @media (max-width: 768px) {
     .flamenco {
         width: 300px;
         height: 300px;
         display: flex;
         justify-content: center;
     }
 }

 .second-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     align-items: center;
 }

 .second-section h2 {
     display: flex;
     color: white;
     justify-content: center;
     font-size: 40px;
     font-weight: 575;
     margin-bottom: 20px;
 }


 .second-section h3 {
     display: flex;
     justify-content: center;
     text-align: center;
     color: white;
     font-size: 22px;
     font-weight: 300;
     max-width: 600px;
     line-height: 30px;
     margin-bottom: 50px;
 }

 @media (max-width:768px){
    .second-section h2{
        font-size: 30px;
    }
    .second-section h3{
        font-size: 18px;
        margin-bottom: 20px;
    }
    table{
        padding: 10px;
    }
 }

 table {
     color: white;
     max-width: 480px;
     width: 100%;
     margin-bottom: 100px;
     border-spacing: 0;
     table-layout: fixed;
 }


 thead th {
     font-size: 16px;
     border-bottom: 1px solid #d9dadc;
     text-align: start;
     padding: 16px 10px;
     width: 44%;
 }

 tbody th {
     font-size: 14px;
     border-bottom: 1px solid #d9dadc;
     padding: 15px;
     font-weight: normal;
     display: flex;
     text-align: start;
     text-decoration: underline;
     text-decoration-style: dashed;
     text-decoration-thickness: 1px;
     text-decoration-color: #a7a7a7;
     text-underline-offset: 4px;
     line-height: 24px;
 }

 tbody td {
     text-align: center;
     border-bottom: 1px solid #d9dadc;
 }

 tr:hover {
     background-color: #ffffff12;
 }

 .check:hover {
     background-color: #ffffff12;
 }

 .third-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     align-items: center;
 }

 .third-section h2 {
    display: flex;
     justify-content: center;
     text-align: center;
     color: white;
     font-size: 40px;
     font-weight: 600;
     margin-bottom: 20px;
     
 }

 .third-section h3 {
     font-size: 16px;
     font-weight: 500;
     margin: 0 auto;
     line-height: 30px;
     display: flex;
     justify-content: center;
     text-align: center;
     color: white;
 }

 @media (max-width:768px){
    .third-section h2{
        margin: 20px;
        font-size: 30px;
    }
    .third-section h3{
        font-size: 16px;
        padding: 10px;
    }
 }

 .pay {
     display: flex;
     margin-top: 30px;
     gap: 10px
 }

 .pay img {
     justify-content: center;
 }

 .metodo {
     background-color: white;
     border-radius: 5px;
     width: 53px;
     height: 38px;
     padding: 4px;
     margin-bottom: 70px;
 }

 @media (max-width:768px){
    .metodo{
        margin-bottom: 10px
    }
 }

 aside {
     display: flex;
     align-items: center;
     margin: 48px auto;
     justify-content: center;
     flex-direction: row;
     padding: 0px 32px;
     color: #fff;
 }


 .third-section aside h3 {
     display: flex;
     text-align: center;
     font-size: 30px;
     font-weight: bold;
     padding: 0;
     line-height: 50px;
     word-spacing: 5px;
 }

 aside ul {
     list-style: none;
     line-height: 20px;
 }

 .third-section aside li {
     font-size: 16px;
     margin: 0px 0px 0px 20px;
     line-height: 25px;
 }

 .list::before {
     content: "✓";
 }

 @media (max-width:768px){
    aside{
        display: flex;
        flex-direction: column;
        padding: 0px 32px;
    }
    .third-section aside h3{
        font-size: 24px;
        line-height: 30px;
    }
    aside ul{
        margin-top: 30px;
    }
    .third-section aside li{
        padding-left: 50px;
        padding-right: 50px;
    }

 }

 .grid-card {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     max-width: 1000px;
     justify-content: center;
     color: white;
     margin: 0 auto;
     gap: 15px;
     padding: 20px;
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: start;
     background-color: rgba(255, 255, 255, 0.1);
     border-radius: 10px;
     padding: 30px;
     width: 100%;
     height: auto;
 }



 strong {
     margin-top: 20px;
 }

 .ribbon {
     position: absolute;
     background-color: #ffd2d7;
     color: black;
     font-size: 16px;
     font-weight: bold;
     top: 0;
     left: 0;
     padding: 6px;
     border-radius: 5px 0px 5px 0px;
 }

 .card h2 {
     color: #ffd2d7;
     font-size: 28px;
     font-weight: bold;
     padding: 10px 0px 10px 0px;
 }

 .light {
     font-size: 14px;
     color: #A7A7A7;
     font-weight: normal;
     line-height: 25px;
 }

 hr {
     width: 100%;
     border-color: #ffffff48;
     margin: 20px 0px;
 }

 .card ul {
     line-height: 22px;
     min-height: 88px;
 }

 .card button {
     font-size: 14px;
     background-color: #FFD2D7;
     color: black;
     font-weight: bold;
     border-radius: 50px;
     margin: 20px 0px;
     width: 270px;
     height: 48px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .card button:hover {
     transform: scale(1.1);
 }

 .ribbon-2 {
     position: absolute;
     background-color: #c4b1d4;
     color: black;
     font-size: 16px;
     font-weight: bold;
     top: 0;
     left: 0;
     padding: 6px;
     border-radius: 5px 0px 5px 0px;
 }

 .card:nth-child(2) h2 {
     color: #c4b1d4;
 }

 .card:nth-child(2) button {
     background-color: #c4b1d4;
 }

 .card:nth-child(3) h2 {
     color: #ffc862;
 }

 .card:nth-child(3) button {
     background-color: #ffc862;
 }

 .card:nth-child(3) p {
     margin-bottom: 25px;
 }

 .card:nth-child(4) h2 {
     color: #a5bbd1;
 }

 .card:nth-child(4) button {
     background-color: #a5bbd1;
 }

 small {
     font-size: 11px;
     color: #A7A7A7;
     align-items: center;
 }

 .card a {
     text-decoration: underline;
     color: #A7A7A7;
 }

 .card:nth-child(4) {
     grid-column: 1 / -1;
     justify-self: center;
 }

 @media screen and (min-width: 768px) {
     .card:nth-child(4) {
         grid-column: 2/3;
         grid-row: 2/3;
         justify-self: start;
     }
 }


 .five-section {
     padding: 40px;
     max-width: 1000px;
     margin: 0 auto;
     padding-bottom: 50px;
 }

 .five-section h2 {
     display: flex;
     color: white;
     justify-content: center;
     font-size: 32px;
     font-weight: 575;
     margin-bottom: 20px;
     margin-top: 60px;
 }

 .five-section h3 {
     display: flex;
     justify-content: center;
     text-align: center;
     color: white;
     font-size: 16px;
     font-weight: 300;
     max-width: 600px;
     margin: 0 auto;
     line-height: 30px;
     padding: 5px;
 }

 .five-section a {
     text-decoration: underline;
     color: white;
 }

 @media (max-width: 768px){
    .five-section h2{
        font-size: 30px;
    }
    .five-section h3{
        font-size: 13px;
    }
 }

 details {
     color: white;
     border-bottom: 1px solid #ffffff79;
 }

 details:hover {
     background-color: #2a2a2a;
     width: 100%;
     transition: 0.3s;
 }

 details[open] {
     background-color: #2a2a2a;
 }

 details summary {
     font-size: 18px;
     font-weight: bold;
     cursor: pointer;
     position: relative;
     list-style: none;
     padding: 20px;
 }

 @media (max-width:768px){
    details summary{
        font-size: 16px;  
        padding-right: 10px;
    }
 }


 details summary:hover {
     text-decoration-line: underline;
 }

 details summary::after {
     content: url('img/arrow-down.svg');
     color: rgb(255, 255, 255);
     fill: rgb(255, 255, 255);
     position: absolute;
     transform: translateY(-50%);
     transition: 0.3s;
     padding: 20px;
     margin-left: 2px;
     right: 0;
     top: 50%;
 }

 details[open] summary::after {
     content: url('img/arrow-up.svg');
     color: rgb(255, 255, 255);
     fill: rgb(255, 255, 255);
     transition: 0.3s;
 }

 details p {
     font-size: 16px;
     padding: 20px;
     margin: 0;
     background-color: #242424;
 }

 footer {
     background-color: #000000;
     padding: 80px 0 50px;
 }

 footer .footer-container {
     max-width: 1140px;
     margin-right: auto;
     margin-left: auto;
     padding: 0 20px;
     display: flex;
     flex-flow: column;
     gap: 20px;
     line-height: 25px;
 }

 @media all and (min-width: 768px) {
     footer .footer-container {
         flex-flow: row wrap;
     }
 }

 footer .logo-spotify {
     padding: 0 15px;
 }

 footer .footer-container .enlaces {
     display: flex;
     flex-flow: column;
 }

 @media all and (min-width: 768px) {
     footer .footer-container .enlaces {
         flex-flow: row wrap;
     }
 }

 footer .enlaces ul {
     list-style: none;
     padding: 0 15px;
     margin: 0;
 }

 footer .enlaces h2 {
     margin: 20px 0;
     text-transform: uppercase;
     color: #919496;
     font-size: 12px;
     font-weight: 700;
     line-height: 1.5;
     letter-spacing: 0.08em;
 }

 footer .enlaces li a {
     padding: 3px 0 15px;
     color: #ffffff;
     display: inline-block;
     font-size: 16px;
     font-weight: 400;
     text-decoration: none;
 }

 footer .enlaces a:hover {
     color: #1ed760;
 }

 footer .social-media {
     margin: 0 15px 0;
 }

 footer .social-media ul {
     list-style: none;
     display: flex;
     gap: 10px;
 }

 footer .social-media ul li a {
     width: 48px;
     height: 48px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     fill: #ffffff;
     border-radius: 50%;
     background-color: #222326;
     padding: 5px;
 }

 footer .social-media ul li a:hover {
     fill: #1cd760;
 }

 footer .español {
     display: flex;
     align-items: end;
     justify-content: end;
     width: 100%;
     color: #919496;
     font-size: 12px;
 }

 footer .español a:hover {
     color: #1ed760;
 }

 footer .legal-container {
     width: 100%;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
 }

 footer .legal-container ul {
     display: flex;
     flex-flow: row wrap;
     gap: 15px;
     list-style: none;
     padding: 0;
 }

 footer .legal-container li {
     font-size: 12px;
     color: #919496;
     text-decoration: none;
 }

 footer .legal-container li:hover {
     color: #1ed760;
 }

 footer .copyright {
     font-size: 12px;
     color: #919496;
     align-self: center;
 }